<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n%throwable"/>
        </Console>
        <LogWriter name="LogWriter">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n%throwable"/>
        </LogWriter>
        <ActivityAppender name="Activity">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %m%n%throwable"/>
        </ActivityAppender>
    </Appenders>
    <Loggers>
        <Logger name="com.underscoreresearch.backup" level="debug"/>
        <Root level="warn">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Activity"/>
            <AppenderRef ref="LogWriter"/>
        </Root>
    </Loggers>
</Configuration>