[Unit]
Description=Underscore Backup

[Service]
User=root
WorkingDirectory=/tmp
StandardOutput=null
StandardError=null
SyslogIdentifier=underscorebackup
ExecStart=/opt/underscorebackup/bin/servicelauncher
SuccessExitStatus=0
TimeoutStopSec=60
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
